* {    
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
 
body {    
    min-width: 240px;
}

.content {
    margin: auto;    
    width: 80%;
} 

header {    
    -webkit-box-shadow: 0 3px 5px 0 #3d3d3d; 
    -moz-box-shadow: 0 3px 5px 0 #3d3d3d; 
    box-shadow: 0 3px 5px 0 #3d3d3d;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #99ccd6;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

#header-contacts {
    display: flex;
    flex-direction: column;
}

/*настройки для всех телефонных номеров*/
a[href^="tel:"] {    
    text-decoration: none;
    font-size: 1.5em;
}

/*добавление к телефонным номерам иконки телефона*/
a[href^="tel:"]:before {
    content: "\260f";
    margin-right: 0.5em;
}

a[href^="mailto:"]:before {
    content: "\2709";
    margin-right: 0.5em; 
}

a[href^="mailto:"] {
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 0.5em;
}

/* МЕНЮ */
#menu-wrap {
    background-color: #666;  
    margin-top: 1em;  
}

#menu {
    list-style: none;
    display: flex;  
    justify-content: center;
}
 
nav ul li {    
    padding: 1em;
    border-right: 1px solid #ccc;    
}

nav ul li:last-child {
    border-right: 0;
}
 
nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 1.5em; 
    font-weight: bold;
}

nav ul li:hover {
    background-color: #999;
}
 
nav ul li a:hover {
    color: #fff;
    background-color: #999;
}

/*Статья*/
#header-article {
    margin: 2em auto 1em;
    padding: 0.5em;
}

section {    
    margin-top: 3em;
}

section > header {
    margin-bottom: 1em;
    padding: 0.5em;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;    
}

.prod-card {    
    margin: 0.5em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 5px 0 #3d3d3d; 
    -moz-box-shadow: 0 3px 5px 0 #3d3d3d; 
    box-shadow: 0 3px 5px 0 #3d3d3d;
}

.section-text {
    -webkit-box-shadow: 0 3px 5px 0 #3d3d3d; 
    -moz-box-shadow: 0 3px 5px 0 #3d3d3d; 
    box-shadow: 0 3px 5px 0 #3d3d3d;
    padding: 1em 1em 0.5em 1em;
}

p {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
}

/* ПОДВАЛ */
#footer {    
    height: 8em;
    background-color: #b1b1b1;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    padding-top: 1em;
}

#footer-contacts {
    display: flex;
    flex-direction: column;
}

#developer {
    margin-top: 1em;
}

/* МЕДИАЗАПРОСЫ */

@media (max-width: 1010px) {
    .content {        
        width: 95%;
    } 
}

@media (max-width: 845px) {
    #header-content {        
        flex-direction: column;        
    }   

    #menu {
        display: none;
    }

    #footer {    
        height: 12em;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-email {
        margin-top: 0;
        margin-bottom: 1em;
    }
}