mixin menu()
  nav.menu-wrap 
    .content 
      ul.menu 
        li
          a(href='#block')= 'Блок'
        li
          a(href='#delivery')= 'Доставка'
        li 
          a(href='#contacts')= 'Контакты'