//-
  options.type - тип меню ('' или desktop - для десктопов, mobile - для мобильных)

mixin menu(options = {})
  - const menu = require('./components/menu/data.json')    

  nav.menu-wrap 
    .content 
      ul.menu 
        each item in menu.items
          li.menu__item
            a(href=item.href)= item.text
