-
    let items = [
    {
      "href": "#block",
      "text": "Блок"
    },
    {
      "href": "#delivery",
      "text": "Доставка"
    },
    {
      "href": "#contacts",
      "text": "Контакты"
    }
  ]

mixin menu(options = {})
  //- let {href, text} = items
  //- const menu = require('../../data/menu.json')    

  nav.menu(aria-label='Главное меню')    
    .content 
      input(id='menu__toggle' type='checkbox')
      label(class='menu__btn' for='menu__toggle')
        span    
      ul.menu__box
        each item in items
          li
            a.menu__item(href=item.href)= item.text
