.menu-wrap {
  background-color: #666;
  //margin-top: 1em;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;

  &__item {
    padding: 1em;
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: 0;
    }

    & a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;

      &:hover {
        color: #fff;
        background-color: #999;
      }
    }

    &:hover {
      background-color: #999;
    }
  }
}

@media (max-width: 1250px) {
  .menu__item a {
    font-size: 1.3em;
  }
}

@media (max-width: 1100px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 845px) {
  .menu {
    display: none;
  }
}
