mixin menu()

  - const menu = require('./components/menu/data.json')

  nav.menu-wrap 
    .content 
      ul.menu 
        each item in menu.items
          li
            a(href=item.href)= item.text
