include ../../components/header/header
include ../../components/footer/footer

include ../../data/data.pug

- const {yandex_verification, default_title, default_description, default_keywords} = data

block variables

doctype html
html(lang= 'ru')
  head
    meta(charset= 'utf-8')
    meta(name= 'viewport' content= 'width=device-width, initial-scale=1')    
    meta(name= 'yandex-verification' content= yandex_verification)    
    meta(name= 'description' content= description ? description : default_description)

    link(rel='stylesheet' href='index.css')
    script(defer src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(defer src='index.js')

    title= title ? title : default_title

  body
    include ../../assets/yandex-metrika.html

    block header
      +header(data)
  
    block main
          
    block footer
      +footer(data)