// Переменные для media запросов
$xs: 576px;
$sm: 768px;
$md: 845px;
$lg: 992px;
$xl: 1100px;
$xxl: 1280px;
$background-main: #eceff1;
$background: #666666; // Dull grey
$background-hover: #999999;
$border: #cccccc;
$text-inverse: #ffffff;
$text: #333333;
