extends ../../layouts/base/base
include ../../components/gallery/gallery
include ../../components/slider/slider

block variables
  -     
    const title = 'Купить блок керамзитовый муровой строительный в Юровке г. Анапа с доставкой'
    const description = 'Наша компания изготавливает строительные блоки ФБС, блоки муровые стеновые, керамзитоблоки.'
    

block main
  +slider()
  header.header-article.content 
    h1= 'Блок строительный в Джигинке'      
  article.content       
    .section-text 
      p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
    section 
      header
        h2
          a(name='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
        +gallery()
    section 
      header 
        h2 
          a(name='delivery')= 'Доставка блока покупателям'
      .section-text 
        include:markdown-it ../../data/delivery.md