@import '../../layouts/variables';
@import '../../components/footer/footer';
@import '../../components/gallery/gallery';
@import '../../components/header/header';
@import '../../components/menu/menu';
@import '../../components/slider/slider';
@import '../../components/icon/icon';
@import '../../components/callback/callback';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lucida Sans, Arial, Helvetica, sans-serif;
  min-width: 280px;
  font-size: 1.2em;
  color: $text;
}

.content {
  margin: auto;
  width: 80%;
}

.header-article {
  margin: 2em auto 1em;
  padding: 0.7em 0;
}

section {
  margin-top: 3em;
}

section > header {
  margin-bottom: 1em;
  padding: 0.5em;
}

.section-text {
  -webkit-box-shadow: 0 3px 5px 0 $border;
  -moz-box-shadow: 0 3px 5px 0 $border;
  box-shadow: 0 3px 5px 0 $border;
  padding: 1em 1em 0.5em 1em;
}

p {
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  /*
  добавление к телефонным номерам иконки телефона
  справочник по символам Юникода https://unicode-table.com/ru/  
  */
  /*
  &[href^='tel:']:before {
    content: '\2706';
    margin-right: 0.5em;
  }

  &[href^='mailto:']:before {
    content: '\1f4e7';
    margin-right: 0.5em;
  }

  &[href^='mailto:'] {
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 0.5em;
  }
  */
}

/* МЕДИАЗАПРОСЫ */

@media (max-width: 1250px) {
  /*
  a[href^='tel:'] {
    font-size: 1.2em;
  }

  a[href^='mailto:'] {
    font-size: 1.1em;
  }
  */
}

@media (max-width: 1100px) {
  body {
    font-size: 1em;
  }

  .content {
    width: 90%;
  }
}
