extends ../../layouts/base/base
include ../../components/gallery/gallery
include ../../components/slider/slider
include ../../components/callback/callback

block variables
  - const title = 'Купить блок керамзитовый муровой строительный в Юровке г. Анапа с доставкой'
  - const description = 'Наша компания изготавливает строительные блоки ФБС, блоки муровые стеновые, керамзитоблоки.'
  -
    let slides = [
      {
        img: "./images/delivery.jpg",
        title: "Доставка",
        descript: "Осуществим доставку своим транспортом"
      },
      {
        img: "./images/storage.jpg",
        title: "Предоплата",
        descript: "Мы работаем без предоплаты. Вы оплачиваете всю сумму при получении товара"
      },
      {
        img: "./images/119_big.png",
        title: "Опт и розница",
        descript: "Отгружаем товары любыми партиями"
      },
      {
        img: "./images/storage2.jpg",
        title: "10 лет на рынке",
        descript: "Отличное качество, большой опыт работы"
      },
      {
        img: "./images/945_big.png",
        title: "Документация",
        descript: "Полная документация на товар (накладные, чеки)"
      }
    ]
    

block main
  +slider({slides})
  header.header-article.content 
    h1= 'Блок строительный в Джигинке'      
  article.content       
    .section-text 
      p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
    section 
      header
        h2
          a(id='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
        +gallery()
    section 
      header 
        h2 
          a(id='delivery')= 'Доставка блока покупателям'
      .section-text 
        include:markdown-it ../../data/delivery.md
        +callback()
        include ../../components/callbackRH/callbackRH.html