extends ../../layouts/base/base
include ../../components/gallery/gallery
include ../../components/slider/slider
include ../../components/callback/callback

block variables
  include ../../data/home.pug
  include ../../data/homeSlider.pug

block main
  +slider({slides})
  header.header-article.content 
    h1= 'Блок строительный в Джигинке'      
  article.content       
    .section-text 
      p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
    section 
      header
        h2
          a(id='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
        +gallery()
    section 
      header 
        h2 
          a(id='delivery')= 'Доставка блока покупателям'
      .section-text 
        include:markdown-it ../../data/delivery.md
        +callback()
    //- include ../../components/callbackJivo/callbackJivo.html
    //- include ../../components/callbackRC/callbackRC.html