extends ../../layouts/base/base
include ../../components/gallery/gallery

block variables
  -     
    const title = 'Блок стеновой строительный - керамзитовый, керамзитобетонный, муравой в Джигинке'
    const keywords = 'блок, строительный, керамзитовый, керамзитобетонный, муравой, стеновой, Джигинка'
    const description = 'Производим в Джигинке блоки стеновые - муравые, керамзитобетонные и керамзитовые разных размеров. Доставка. Качество и цены производителя. Закажите прямо сейчас!'
    

block main
  header.header-article.content 
    h1= 'Блок строительный в Джигинке'      
  article.content       
    .section-text 
      p= 'Мы производим качественный строительный блок на стационарном оборудовании, которое позволяет получать стеновой блок с наилучшей геометрией.'
    section 
      header
        h2
          a(name='block')= 'Блоки керамзитовые, керамзитобетонные и муровые'
        +gallery()
    section 
      header 
        h2 
          a(name='delivery')= 'Доставка блока покупателям'
      .section-text 
        include:markdown-it ../../data/delivery.md