@import '../../layouts/variables';

header {
  -webkit-box-shadow: 0 3px 5px 0 $border;
  -moz-box-shadow: 0 3px 5px 0 $border;
  box-shadow: 0 3px 5px 0 $border;
  text-align: center;

  & a {
    color: $text;

    &[href^='/']:hover {
      background-color: $background-header;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: $background-header;
  padding: 1em 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }

  &__logo_mobile {
    display: none;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $xl) {
  .content {
    width: 95%;
  }
}

@media (max-width: $md) {
  .header__content {
    flex-direction: column;
  }

  .header__logo {
    display: none;
  }

  .header__logo_mobile {
    display: inline;
  }

  .header__phone {
    margin-top: 1em;
  }
}
