header {
  -webkit-box-shadow: 0 3px 5px 0 #3d3d3d;
  -moz-box-shadow: 0 3px 5px 0 #3d3d3d;
  box-shadow: 0 3px 5px 0 #3d3d3d;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #99ccd6;
  padding: 1em 0;
}

.header-logo-mobile {
  display: none;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 845px) {
  .header-content {
    flex-direction: column;
  }

  .header-logo {
    display: none;
  }

  .header-logo-mobile {
    display: inline;
  }

  .header-phone {
    margin-top: 1em;
  }
}
