header {
  -webkit-box-shadow: 0 3px 5px 0 #3d3d3d;
  -moz-box-shadow: 0 3px 5px 0 #3d3d3d;
  box-shadow: 0 3px 5px 0 #3d3d3d;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #99ccd6;
  padding: 1em 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }

  &__logo_mobile {
    display: none;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 845px) {
  .header__content {
    flex-direction: column;
  }

  .header__logo {
    display: none;
  }

  .header__logo_mobile {
    display: inline;
  }

  .header__phone {
    margin-top: 1em;
  }
}
