mixin gallery()

  include ../../data/gallery.pug

  .gallery
    each card in cards
      .prod-card 
        img(src=`./images/${card.img}` alt=card.desc)        
        h3= card.desc
        p= card.price