@import '../../styles/variables';

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
}

.prod-card {
  width: 40%;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 0 $border;
  -moz-box-shadow: 0 3px 5px 0 $border;
  box-shadow: 0 3px 5px 0 $border;
}

.prod-card img {
  margin-bottom: 1em;
}

.prod-card p {
  margin-top: 1em;
}

@media (max-width: $sm) {
  .prod-card {
    width: 100%;
  }
}
