@import '../../layouts/variables';

.footer {
  height: 8em;
  background-color: $background;
  color: $text-inverse;
  text-align: center;

  & a {
    color: $text-inverse;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    padding-top: 1em;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__phone-link {
    font-size: 1.2em;
  }

  &__location {
    display: flex;
    flex-direction: column;
  }

  &__address {
    padding: 0 1.5em;
  }

  &__email {
    font-size: 1.2em;
  }

  &__developer {
    margin-top: 1em;
  }

  & h5 {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1;
  }

  @media (max-width: $md) {
    height: 13em;

    &__content {
      flex-direction: column;
    }

    &__phone-link {
      justify-content: center;
    }

    &__email-link {
      margin-bottom: 1em;
    }

    &__copyright {
      margin-top: 1em;
    }
  }
}
