@import '../../layouts/variables';

.footer {
  height: 8em;
  background-color: $background;
  color: $text-inverse;
  text-align: center;

  & a {
    color: $text-inverse;
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  padding-top: 1em;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-address {
  padding: 0 1.5em;
}

.developer {
  margin-top: 1em;
}

@media (max-width: $md) {
  .footer {
    height: 13em;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-email {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .copyright {
    margin-top: 1em;
  }
}
