-
  let data = {
    default_keywords: "блок, строительный, керамзитовый, керамзитобетонный, муровой, стеновой, Джигинка",
    default_description: "Производим в Джигинке блоки - муровые, керомзитобетонные и керомзитовые разных размеров. Доставка. Качество и цены производителя. Закажите прямо сейчас!",
    default_title: "Производим блок стеновой строительный - керамзитовый, керамзитобетонный, муравой в Джигинке",
    yandex_verification: "cd37240a4230d2ac",
    phone1: "+7(999)9999-9-99",
    phone2: "+7(999)888-88-88",
    logo_title: "Блок в Джигинке",
    logo_img_alt: "Блок в Джигинке",
    logo_file: "logo-blok-v-djiginke.png",
    logo_file_mobile: "logo-blok-v-djiginke-mobile.png",
    company_address: "Анапский район, с. Джигинка, ул. Асфальтная, 40",
    maps: "45.124820, 37.328394",
    email: "info@dblock.ru"
  }