- const title = 'Купить блок керамзитовый муравой строительный в Юровке г. Анапа с доставкой'
- const description = 'Наша компания изготавливает строительные блоки ФБС, блоки муравые стеновые, керамзитоблоки.'
