-
  const slides = [
    {
      img: "./images/delivery.jpg",
      title: "Доставка",
      descript: "Осуществим доставку своим транспортом"
    },
    {
      img: "./images/storage.jpg",
      title: "Предоплата",
      descript: "Мы работаем без предоплаты. Вы оплачиваете всю сумму при получении товара"
    },
    {
      img: "./images/119_big.png",
      title: "Опт и розница",
      descript: "Отгружаем товары любыми партиями"
    },
    {
      img: "./images/storage2.jpg",
      title: "10 лет на рынке",
      descript: "Отличное качество, большой опыт работы"
    },
    {
      img: "./images/945_big.png",
      title: "Документация",
      descript: "Полная документация на товар (накладные, чеки)"
    }
  ]