-
  const items = [
    {
      "href": "#block",
      "text": "Блок"
    },
    {
      "href": "#delivery",
      "text": "Доставка"
    },
    {
      "href": "#contacts",
      "text": "Контакты"
    }
  ]