-
  const header = "Напишите нам"
  const socs = [
    {
      "class": "mes-em",
      "href": "injashkin@gmail.com",
      "text": "Email",
      "icon": "email",
    },
    {
      "class": "mes-tg",
      "href": "https://t.me/your_name",
      "text": "Telegram",
      "icon": "telegram",
    },
    {
      "class": "mes-wa",
      "href": "https://api.whatsapp.com/send?phone=79183549497&text=Добрый%20день.%20Прошу%20отправить%20прайс.",
      "text": "WhatsApp",
      "icon": "whatsapp",
    },
    {
      "class": "mes-vi",
      "href": "viber://pa?chatURI=jashkin",
      "text": "Viber",
      "icon": "viber",
    },
    {
      "class": "mes-vk",
      "href": "https://vk.com/i.jashkin",
      "text": "ВКонтакте",
      "icon": "vk",
    }
  ]