.slider-wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;

  padding-top: 1px;
  width: auto;
  max-width: 100%;
  margin: 0px auto;
  position: relative;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #ddd;
  position: relative;
  padding-bottom: 5px;
}

/*=============СЛАЙДЫ===================*/

.images {
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
  transition-property: opacity, z-index;
  transition-duration: 2s;
}

.img1 {
  margin-bottom: 5px;
  position: relative;
  max-width: 100%;
  opacity: 1; // не прозрачная только первая картинка
  z-index: 1;
}

.img2,
.img3,
.img4,
.img5 {
  position: absolute;
  opacity: 0;
}

.slider__img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

/*=====ОПИСАНИЕ=========================================*/
.descript1,
.descript2,
.descript3,
.descript4,
.descript5 {
  position: absolute;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 30%;
  left: 10%;
  padding: 1em;
  border-radius: 1em;
}

.images h3 {
  color: #fff;
  margin: 0;
  margin-bottom: 1em;
}

.images p {
  color: #fff;
  margin: 0;
}

/*===КНОПКИ КРУГЛЯШИ===============*/

.but1,
.but2,
.but3,
.but4,
.but5 {
  position: absolute;
  width: 14px;
  height: 14px;
  background: transparent;
  bottom: 25px;
  left: 50%;
  right: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  outline: none;
}

.but1 {
  margin-left: -50px;
}

.but2 {
  margin-left: -25px;
}

.but4 {
  margin-left: 25px;
}

.but5 {
  margin-left: 50px;
}

.round1,
.round2,
.round3,
.round4,
.round5 {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  bottom: 25px;
  left: 50%;
  right: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  outline: none;
}

.round1 {
  margin-left: -50px;
}

.round2 {
  margin-left: -25px;
}

.round4 {
  margin-left: 25px;
}

.round5 {
  margin-left: 50px;
}

/*================ДЕЙСТВИЯ================*/

.but1:focus ~ .images,
.but2:focus ~ .images,
.but3:focus ~ .images,
.but4:focus ~ .images,
.but5:focus ~ .images {
  animation: none;
}

.but1:focus ~ .nav,
.but2:focus ~ .nav,
.but3:focus ~ .nav,
.but4:focus ~ .nav,
.but5:focus ~ .nav {
  animation: none;
}

.but1:focus ~ .img1,
.but2:focus ~ .img2,
.but3:focus ~ .img3,
.but4:focus ~ .img4,
.but5:focus ~ .img5 {
  opacity: 1;
  z-index: 15;
}

.but1:focus,
.but2:focus,
.but3:focus,
.but4:focus,
.but5:focus {
  background-color: #8699a4;
}

@media only screen and (max-width: 740px) {
  .images p {
    display: none;
  }
  .images h3 {
    font-size: 14px;
    text-align: center;
  }
}

/*============Анимация слайдов=======================*/

$duration: 60s;
$delay: 12s;

.img1 {
  animation: imgAnim $duration linear infinite;
}

.img2 {
  animation: imgAnim $duration linear $delay infinite;
}

.img3 {
  animation: imgAnim $duration linear $delay * 2 infinite;
}

.img4 {
  animation: imgAnim $duration linear $delay * 3 infinite;
}

.img5 {
  animation: imgAnim $duration linear $delay * 4 infinite;
}

@keyframes imgAnim {
  0% {
    opacity: 0;
    z-index: 5;
  }
  5% {
    opacity: 1;
    z-index: 5;
  }
  17% {
    opacity: 1;
    z-index: 5;
  }
  25% {
    opacity: 0;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: 5;
  }
}

/*==============Активация при анимации кружка навигации*=================*/

.round1 {
  animation: butAnim $duration linear infinite;
}

.round2 {
  animation: butAnim $duration linear $delay infinite;
}

.round3 {
  animation: butAnim $duration linear $delay * 2 infinite;
}

.round4 {
  animation: butAnim $duration linear $delay * 3 infinite;
}

.round5 {
  animation: butAnim $duration linear $delay * 4 infinite;
}

@keyframes butAnim {
  0% {
    background-color: #fff;
  }
  5% {
    background-color: #8699a4;
  }
  17% {
    background-color: #8699a4;
  }
  25% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

/*========пауза в анимации при наведении на слайд=========*/

.slider:hover .images {
  animation-play-state: paused;
}

.slider:hover .nav {
  animation-play-state: paused;
}
